@font-face {
    font-family: roboto;
    src: url(fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
    font-family: helvetica;
    src: url(fonts/Helvetica-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: roboto;
}

*{
    scroll-behavior: smooth;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-links-container{
    width: 100%;
}

.nav-links-container ul{
    position: relative;
    top: 35px;
    margin-right: 80px;
    display: flex;
    justify-content: end;
    gap: 90px;
}

.nav-links-container ul a{
    color: black;
    font-size: 25px;
    transition: ease-in-out 0.2s;
}

.link-active{
    color: rgb(43, 202, 255) !important;
}

.nav-links-container ul a:hover{
    color: rgb(253, 200, 246);
}

.logo{
    position: absolute;
    width: 80px;
    height: 110px;
    object-fit: cover;
    z-index: 2;
    margin-top: -10px;
    margin-left: 30px;
}

.nav-links-container h6{
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-left: 130px;
    margin-top: 30px;
    font-weight: 400;
}

.home-container{
    display: flex;
    justify-content: center;
}

.home-image-container{
    width: 50%;
    margin-left: 460px;
    margin-top: 160px;
    animation: homeImage 1.3s; 
}

.home-image{
    object-fit: cover;
    width: 450px;
    height: 450px;
    object-position: 100% 79%;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 8px rgb(141, 224, 252); /* Blue shadow */
    animation: borderColorAnimated infinite 5s;
}

.home-text-container{
    width: 50%;
    margin-left: -370px;
    margin-top: 240px;
}

.job-title{
    text-align: start;
    font-weight: 500;
    font-size: 33px;
    animation: homeText 1.3s;
    margin-top: -20px;
    margin-bottom: 50px;
}

.language-image-container{
    overflow: hidden;
    width: 500px;
    height: 100px;
    white-space: nowrap;
}

.logo-slide{
    display: inline-block;
    animation: 8s slide infinite linear;
    margin-bottom: 40px;
}

.language-image{
    object-fit: contain;
    width: 100px;
    height: 100px;
    margin: 0 30px;
    transition: 5s;
}

.js-image{
    position: relative;
    top: 0px;
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
}

.home-container button{
    width: 170px;
    padding: 18px 0px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.my-portfolio-button{
    background-color: rgba(43,202,255,1);
    color: white;
    border-color:  rgba(43,202,255,1);
    margin: 0 50px;
}

.about-me-button{
    color: rgb(255, 117, 244);
    border-color: rgb(255, 117, 244);
    background-color: transparent;
}

.my-portfolio-button:hover{
    background-color: rgba(43,202,255,1);
    color: white;
}

.about-me-button:hover{
    background-color: rgb(255, 117, 244);
    color: white;
}

.about-me-title{
    text-align: center;
    font-size: 60px;
    margin-top: 240px;
    padding-top: 60px;
}

.about-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 200px;
}

.about-card{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 20px 2px rgb(192, 192, 192);
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes borderColorAnimated {
    50%{box-shadow: 0px 0px 50px 2px rgb(255, 117, 244)}
}

@keyframes homeImage {
    0% {
        margin-top: 120px;
        opacity: 0;
    }
    100% {
        margin-top: 160px;
        opacity: 1;
    }
}

@keyframes homeText{
    0% {
        margin-top: 10px;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

